SHOPIFY_STORE=your-store.myshopify.com
SHOPIFY_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxx

QB_CLIENT_ID=xxxxxxxxxxxxxxxx
QB_CLIENT_SECRET=xxxxxxxxxxxxxxxx
QB_REFRESH_TOKEN=xxxxxxxxxxxxxxxx
QB_REALM_ID=123456789

BILL_BASE_URL=https://gateway.prod.bill.com/connect
BILL_USERNAME=your_bill_username
BILL_PASSWORD=your_bill_password_or_sync_token
BILL_ORG_ID=008xxxxxxxx
BILL_DEV_KEY=xxxxxxxxxxxxxxxx

START_YEAR=2024
